/* prevent problems with different browsers */
* {box-sizing: border-box;}

body {
font-family: 'Monsterrat', sans-serif;
font-size: 16px;
font-weight: 300;
margin: .0;
}

/* Header Stuff Here */

header {
    background-color: white; 
    padding: 1rem 2%;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 1.5vw;
}
header h1 {
    margin: 0;
    color: #023535;
}
header p {
    margin: 0;
    color: #023535;
    letter-spacing: .5px;
}
/* SMALL screens*/

@media only screen and (max-width: 800px) {
    
    nav ul {
        margin: 0;
        padding: 0 2%;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1.35px #C2E6E3;
        color: #023535;
    }
    nav .active a {
        background-color: #023535;
        color: white;
        background-image: linear-gradient(to bottom, #94cdc8, #81a3a0)
    }
    .mainhero {
        width: 100%;
        margin: 0;
    }
    .mainhero img {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    } 
        
.mainhero {
    width: 100%;
    margin: 0;
}
.mainhero img {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
} 
main {
    padding: 1rem 2%;
}
main h1 {
    color: #23606E;
}
main h2 {
    color: #23606E;
    margin-bottom: .2rem;  
}
main p {
    color: #23606E;
    margin: 0 0 .3rem 0;  
}
main ol {
    padding: .5rem 5%;
    background-color: #C2E6E3;
}
main dl dt {
    color: #D08F8C;
    font-weight: 700;
}
main dl dd {
    color: #23606E;
    font-size: .9rem; 
}
main ul {
    list-style-type: disc;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
     font-size: .9rem; 
}
main address {
    font-style: italic;
    background-color: #FFF;
    padding: .9rem;
    width: 20px 1px;
    border: 3px dotted #D08F8C;
    border-radius: 15px;
}
main a {
    color: deeppink;
}
main a:hover {
    color: palevioletred;
}
}

/* BIG SCREENS */

    @media only screen and (min-width: 801px) {
    
    nav {
    background-color: #23606E;
   
        }
        nav ul {
    list-style-type: none;
    padding: 0 2%;
    margin: 0;
    display: flex;
        }
        nav a {
   font-size: 1.1rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
        }
        nav li.active a {
    background-color: #23606E;
            color:  #C2E6E3;
        }
        nav a:hover {
    color: #FACFCE;  
        }

/* stuff for the main */
    
.mainhero {
    width: 100%;
    margin: 0;
}
.mainhero img {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
} 
main {
    padding: 1rem 2%;
}
main h1 {
    color: #23606E;
}
main h2 {
    color: #23606E;
    margin-bottom: .2rem;  
}
main p {
    color: #23606E;
    margin: 0 0 .3rem 0;  
}
main ol {
    padding: .5rem 5%;
    background-color: #C2E6E3;
}
main dl dt {
    color: #D08F8C;
    font-weight: 700;
}
main dl dd {
    color: #23606E;
    font-size: .9rem; 
}
main ul {
    list-style-type: disc;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
     font-size: .9rem; 
}
main address {
    font-style: italic;
    background-color: #FFF;
    padding: .9rem;
    width: 12.5rem;
    border: 3px dotted #D08F8C;
    border-radius: 9px;
}
main a {
    color: deeppink;
}
main a:hover {
    color: palevioletred;
}
   
} /*end of media query*/


figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
    padding-top: 25px;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
    color: #b64e11;
}
div.gallery {
     display: flex;
    flex-wrap: wrap;
}
div.gallery figure {
     margin: .5rem 2% 0 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
}
div.gallery img:hover {
    box-shadow: 0px 0px 10px #aaa;
}
.myForm fieldset {
    border: 3px dashed #D08F8C;
    border-radius: 3px;
    margin-bottom: 1.5rem;
}
.myForm legend {
    color: #D08F8C;
    font-size: .8rem;
}
.myForm label{
    margin: .5rem;
}
.myForm label, .myForm selec, .myForm [type=text], .myForm [type=tel], .myForm [type=email], .myForm textarea {
    display: block;
}
.myForm  [type=text], .myForm [type=tel], .myForm [type=email], .myForm select, .myForm textarea
{
    border: solid 1px #D08F8C;
    padding-top: .3rem;
    width: 180px;
    border-radius: .3rem;
    font-family: 'Monsterrat', sans-serif;
    font-size: 16px;
    font-weight: 200;
    
}
.myForm textarea {
    height: 6rem;
    border:  1px solid #D08F8C;
    
}

.myForm :required {
    background-color: rgba(156,51,53,0.1);
}

.myForm [type=submit] {
    background-color: #D08F8C;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0vw;
    margin-bottom: 10px;
    margin-left: 8px;
}
table.off-runway {
    width:100%;
    border-collapse: collapse; 
}
table.off-runway th {
    background-color: #D08F8C;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}
table.off-runway td {
    color: #23606E;
    padding: .4rem 2vw;
} 
table.off-runway tr:nth-child(odd) {
    background-color: #f7f7f7;
}
table.off-runway tr:hover {
    background-color: rgba(156,51,53,0.1);
}
/* footer stuff */

footer {
    background-color: #D08F8C;
    text-align: center;
    color: #FFFF;
    padding: 1rem 0; 
    font-size: .8rem;
}
footer a {
     color: white;
}
footer a:hover  {
    color:cyan;   
}

header, nav, main, footer{
    max-width: 64rem;
    margin: 0 auto;
}
