body {
font-family: 'Monsterrat', sans-serif;
font-size: 16px;
font-weight: 300;
margin: .0;
}

/* Header Stuff Here */

header {
    background-color: #FACFCE; 
    padding: 1rem 2%;
}
header h1 {
    margin: 0;
    color: #023535;
}
header p {
    margin: 0;
    color: #023535;
    letter-spacing: .5px;
}
/* Navigation Stuff Here */
nav {
    background-color: #23606E;
   
}
nav ul {
    list-style-type: none;
    padding: 0 2%;
    margin: 0;
    display: flex;
}
nav a {
   font-size: 1.1rem;
    text-decoration: none;
    color: #C2E6E3;
    font-weight: 700;
    display: block;
    padding: .83rem 2rem;
    
    
}
nav li.active a {
    background-color: #23606E;
    color:  #2f3133;
}
nav a:hover {
    color: #FACFCE;  
}

/* stuff for the main */
main {
    padding: 1rem 2%;
}
main h1 {
    color: #23606E;
}
main h2 {
    color: #23606E;
    margin-bottom: .2rem;  
}
main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;  
}
main ol {
    padding: .5rem 5%;
    background-color: #C2E6E3;
}
main dl dt {
    color: #D08F8C;
    font-weight: 700;
}
main dl dd {
    color: #2f3133;
    font-size: .9rem; 
}
main ul {
    list-style-type: disc;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
     font-size: .9rem; 
}
main address {
    font-style: italic;
    background-color: #FFF;
    padding: .9rem;
    width: 12.5rem;
    border: 3px dotted #D08F8C;
    border-radius: 9px;
}
main a {
    color: deeppink;
}
main a:hover {
    color: palevioletred;
}
figure.wrapped {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.wrapped img {
    width: 100%;
    height: auto;
}
figure.wrapped figcaption {
    text-align: center;
    font-size: .75rem;
    color: #b64e11;
}
div.gallery{
     display: flex;
    flex-wrap: wrap;

}
div.gallery figure {
     margin: .5rem 2% 0 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
}
.myForm fieldset {
    border: 1px solid #43a0b6;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myForm legend {
    color: #43a0b6;
    font-size: .8rem;
    
}
.myForm label{
    margin: .5rem;
    
}
.myForm label, .myForm selec, .myForm [type=text], .myForm [type=tel], .myForm [type-email], .myForm textarea {
    display: block;
    
}

.myForm  [type=text], .myForm [type=tel], .myForm [type=email], .myForm select, .myForm textarea
{
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Monsterrat', sans-serif;
    font-size: 16px;
    font-weight: 200;
    
}
.myForm textarea {
    height: 6rem;
    
}

.myForm :required {
    background-color: rgba(156,51,53,0.1);
}

.myForm [type=submit] {
    background-color: #43a0b6;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0vw;
    
}
/* footer stuff */

footer {
    background-color: #D08F8C;
    text-align: center;
    color: #FFFF;
    padding: 1rem 0; 
    font-size: .8rem;
}
footer a {
     color: white;
}
footer a:hover  {
    color:cyan;   
}
